header {

    img {
        height: 70px;
    }

    .nav-link {
        color: $blue-primary;
        font-weight: bold;
    }

    .dropdown-item {
        color: $blue-primary;
        font-weight: bold;
    }

}